<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Фінансовий звіт</title>

</head>
<body>

<table border="1px">
    <caption>Фінансовий звіт компанії за 2023–2024 роки</caption>

    <tr>
        <th rowspan="2">Блок</th>
        <th rowspan="2">Категорія</th>
        <th colspan="4">2023</th>
        <th colspan="4">2024</th>
    </tr>
    <tr>
        <th >Блок</th>
        <th >Категорія</th>
        <th >2023</th>
        <th >2024</th>
    </tr>

</table><br>

<form th:method="post" th:action="@{/files/upload}" enctype="multipart/form-data">
    <label for="imgFile">Choose images</label><br>
    <input type="file" id="imgFile" name="file"><br>

    <button type="submit">Upload image</button>
</form><br>

<form th:method="get" th:action="@{/files/download}">
    <label for="file"> Input name of file</label><br>
    <input type="text" name="file" id="file">
    <button type="submit">Download image</button>
</form>
</body>
</html>